@mixin type($name, $space: false) {
  @if ($space) { @extend %type-#{$name}-#{$space}; }
  @else { @extend %type-#{$name}; }
}

@mixin type-set($size, $weight) {
  @if ($size != x) 	{ font-size: rem($size); }
  font-weight: map-get($weight-map, $weight);
}

@mixin bg-cover($pos: center) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: $pos;
}

@mixin bg-contain($pos: center) {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: $pos;
}
