.flex {
    display: flex;
}

.flex-between {
    @extend .flex;
    justify-content: space-between;
}

.flex-align-center {
    @extend .flex;
    flex-direction: column;
    align-items: center;
}

.flex-align-center-title {
    @extend .flex;
    flex-direction: row;
    align-items: center;
}

.flex-align-center-direction-horizontal {
    @extend .flex;
    justify-content: center;
    align-items: center;
}

.flex-col {
    @extend .flex;
    flex-direction: column;
}
