$spacing: 0.5rem;
$start: 1;
$end: 50;

@mixin individual($start, $end, $sufix: '') {
    @for $i from $start through $end {
        .pt#{$i}#{$sufix} {
            padding-top: $i * $spacing;
        }
        .pb#{$i}#{$sufix} {
            padding-bottom: $i * $spacing;
        }
        .pl#{$i}#{$sufix} {
            padding-left: $i * $spacing;
        }
        .pr#{$i}#{$sufix} {
            padding-right: $i * $spacing;
        }
        .mt#{$i}#{$sufix} {
            margin-top: $i * $spacing;
        }
        .mr#{$i}#{$sufix} {
            margin-right: $i * $spacing;
        }
        .mb#{$i}#{$sufix} {
            margin-bottom: $i * $spacing;
        }
        .ml#{$i}#{$sufix} {
            margin-left: $i * $spacing;
        }
    }
}
@mixin combo($start, $end, $sufix: '') {
    @for $i from $start through $end {
        .p#{$i}#{$sufix} {
            padding: $i * $spacing;
        }
      
        .px#{$i}#{$sufix} {
            padding-right: $i * $spacing;
            padding-left: $i * $spacing;
        }
      
        .py#{$i}#{$sufix} {
            padding-top: $i * $spacing;
            padding-bottom: $i * $spacing;
        }
      
        .m#{$i}#{$sufix} {
            margin: $i * $spacing;
        }
      
        .mx#{$i}#{$sufix} {
            margin-right: $i * $spacing;
            margin-left: $i * $spacing;
        }
      
        .my#{$i}#{$sufix} {
            margin-top: $i * $spacing;
            margin-bottom: $i * $spacing;
        }
    }
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mt-auto {
  margin-left: auto;
}

.mv-auto {
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

@include combo($start, $end);
.p0 {
  padding: 0;
}
.m0 {
  margin: 0;
}
.px0 {
  padding-left: 0;
  padding-right: 0;
}
.py0 {
  padding-top: 0;
  padding-bottom: 0;
}

// Loop is duplicated so that individual paddings and margins overwrite general ones
@include individual($start, $end);

.pt0 {
    padding-top: 0;
}

.mt0 {
    margin-top: 0;
}

.mb0 {
    margin-bottom: 0;
}

.ml0 {
  margin-left: 0;
}

.mr0 {
  margin-right: 0;
}
