.home-page {
    height: $base-height;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .table-component {
        height: $base-height;
        width: 100%;
        @media (min-width: $laptopSize) {
            width: $homePageTableWidth;
        }
    }
}
