.important-value {
    &-text {
        font-size: $important-value-padding-text;
        margin-top: 15px;
        color: $light-blue-gray;
        text-transform: uppercase;
    }
    &-value {
        font-size: $important-value-padding-value;
        margin-top: -100px;
    }
}
