@import url('https://fonts.googleapis.com/css?family=Spartan:300&display=swap');

.nav-bar {
    background-color: $dark;
    &-title {
        font-size: rem(32);
        color: $white;
        text-decoration: none;
        cursor: pointer;
    }
    .description {
        font-size: rem(18);
        color: $white;
        text-decoration: none;
        cursor: pointer;
        margin-left: 10px;
    }
    .login-button {
        width: 100%;
        .button {
            float: right;
        }
    }
}

.image {
    background-color: white;
    border-radius: 8px;
    padding: 3px;
    margin-left: 20%;
}

.title {
    font-family: 'Spartan', sans-serif;
    margin-left: 5%;
}

